<h2>Routing</h2>
<div class="tabs-container">
  <div class="tabs">
    <button
      class="tab-button"
      routerLink="first-page"
      routerLinkActive="active"
    >
      First Page
    </button>
    <button
      class="tab-button"
      routerLink="second-page"
      routerLinkActive="active"
    >
      Second Page
    </button>
    <button
      class="tab-button"
      routerLink="third-page"
      routerLinkActive="active"
    >
      Third Page
    </button>
  </div>
</div>
<router-outlet />
