@let creditCardErrorMessage = creditCardControl.errors?.['invalidcreditcard']?.message;
<div class="first-page">
  <h2>Directive to validate credit card number</h2>
  @if (hasErrors) {
    <div class="errors">
      <span>Errors: </span>
      {{creditCardErrorMessage}}
    </div>
  }

  <input
    type="password"
    appCreditCardDirective
    [formControl]="creditCardControl"
  />
  <p>Value for debugging:</p>
  {{ creditCardControl.value }}
  <p>Value length:</p>
  {{ creditCardControl.value.length }}
</div>
