<div class="tabs-container">
  <ng-template tab [name]="'First Tab'" [dataTest]="'tab-1'">
    <h4>First Tab</h4>
  </ng-template>
  <div class="tabs">
    @for (tab of tabList; track $index) {
      <button
        class="tab-button"
        [class.active]="activeTabIndex === $index"
        (click)="selectTab($index)"
        [attr.data-test]="tab.dataTest()"
      >
        {{ tab.name() }}
      </button>
    }
  </div>

  <div class="content">
    @if (tabList.length > 0) {
      <ng-container *ngTemplateOutlet="tabList[activeTabIndex].templateRef">
      </ng-container>
    }
  </div>
</div>
