<div class="tabs-container">
  <div class="tabs">
    @for (tab of tabChildren; track $index) {
      <button
        class="tab-button"
        [class.active]="activeTabIndex === $index"
        (click)="selectTab($index)"
        [attr.data-test]="tab.dataTest()"
      >
        {{ tab.name() }}
      </button>
    }
  </div>

  <div class="content">
    @if (tabChildren.length > 0) {
      <ng-container
        [ngTemplateOutlet]="
          tabChildren.get(activeTabIndex)?.templateRef ?? null
        "
        [ngTemplateOutletContext]="{
          comment: tabChildren.get(activeTabIndex)?.comment()
        }"
      >
      </ng-container>
    }
  </div>
</div>
